{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-center mb-0">Complaint #{{ complaint.pk }} - {{ complaint.title }}</h2>
            <a href="{% url 'support_dashboard' %}" class="btn btn-primary">
                Go to Support Dashboard
            </a>
        </div>

        <div class="card">
            <div class="card-body">
                <h3>Complaint details:</h3>
                <p><strong>Submit date:</strong> {{ complaint.submission_date }}</p>
                <p><strong>Complaint type:</strong> {{ complaint.complaint_type.name }}</p>
                <p><strong>Client:</strong> {{ client.user.first_name }} {{ client.user.last_name }}
                </p>

                {% if order %}
                    <h4 class="mt-4">Order details:</h4>
                    <p><strong>Submit date:</strong> {{ order.submit_date }}</p>
                    <p><strong>Total price:</strong> {{ order.total_price }}</p>
                    <p><strong>Delivery price:</strong> {{ order.delivery_price }}</p>

                    <h5 class="mt-4">Products:</h5>
                    <ul>
                        {% for order_product in order_products %}
                            <li>
                                <p><strong>{{ order_product.product.name }}</strong> x {{ order_product.quantity }}</p>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <h5 class="mt-4">No order linked to the complaint</h5>
                {% endif %}

                <h5 class="mt-4">Delivery:</h5>
                <ul class="list-group mb-4">
                        <li class="list-group-item">
                            <p><strong>Planned time:</strong> {{ delivery.planned_time }}</p>
                            <p><strong>Arrived time:</strong> {{ delivery.arrived_time }}</p>
                            <p><strong>Stage:</strong> {{ delivery.delivery_stage.name }}</p>
                            <p><strong>Leave place:</strong> {{ delivery.delivery_leave_place.name }}</p>
                        </li>
                </ul>

                {% if not complaint.resolution_date %}
                    <!-- Split form layout -->
                    <div class="row mt-4">
                        <!-- Left Form -->
                        <div class="col-md-6">
                            <form method="post" action="{% url 'decline_complaint' c_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="responseText"><strong>Response:</strong></label>
                                    <textarea id="responseText" name="response" class="form-control" rows="4"
                                              placeholder="Write your response here..."></textarea>
                                </div>

                                <div class="form-group mt-3">
                                    <button type="submit" name="action" value="decline"
                                            class="btn btn-danger btn-block">
                                        Decline
                                    </button>
                                </div>
                            </form>
                        </div>

                        <!-- Divider -->
                        <div class="col-md-1 d-flex align-items-center">
                            <div class="border-left h-100 mx-auto" style="width: 1px;"></div>
                        </div>

                        <!-- Right Form -->
                        <div class="col-md-5">
                            <form method="post" action={% url 'accept_complaint' c_id %}>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="compensation"><strong>Compensation Amount:</strong></label>
                                    <input type="number" id="compensation" name="compensation" class="form-control"
                                           step="0.01" min="0" placeholder="Enter amount in $">
                                </div>

                                {% if order %}
                                    <div class="form-group form-check mt-3">
                                        <input type="checkbox" id="refundCheckbox" name="refund"
                                               class="form-check-input">
                                        <label for="refundCheckbox" class="form-check-label">Full refund</label>
                                    </div>
                                {% endif %}

                                <div class="form-group mt-3">
                                    <button type="submit" name="action" value="accept"
                                            class="btn btn-success btn-block">
                                        Accept
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <h4 class="mt-4 text-success">Complaint already resolved</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
